<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        <!-- [%M] means method name, [%L] means line number -->
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%M] [%L] %n
     </pattern>
    </encoder>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="easyrmi" additivity="false">
    <level value="TRACE" />
    <appender-ref ref="STDOUT" />
  </logger>

</configuration>
